<div class="container-fluid">
    <h1 class="mt-4 font-weight-bold">Binary to English Translator</h1>
    <div class="row">
        <div class="col-md-6">
            <form class="example-form mt-4">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Enter Text</mat-label>
                    <textarea matInput rows="15" (keyup)="stringTobinary()" [(ngModel)]="textValue" name="textEnter"
                        placeholder="Ex. Hello Word"></textarea>
                    <button *ngIf="textValue" matSuffix mat-icon-button aria-label="Clear" (click)="textValue=''">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
            </form>
        </div>
        <div class="col-md-6">
            <form class="example-form mt-4">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>binary code</mat-label>
                    <textarea matInput rows="15" [(ngModel)]="changeTextValue" id="text-content-change"
                        name="changetext" placeholder="Ex.1101000 1100101 1101100 1101100 1101111 100000"></textarea>
                </mat-form-field>
            </form>
            <div class="alert alert-success" *ngIf="formateType" role="alert">
                text convertcase successfully to - {{formateType}}
            </div>
            <button mat-flat-button class="mx-1 my-1" color="primary" (click)="copyClipBoard()">Copy clipboard</button>
            <button mat-flat-button (click)="createFile()" class="mx-1 my-1" color="primary">Create File</button>
        </div>
    </div>

    <hr>
    <div class="p-4">
        <h2>Overview Of English To Binary Translator Tool</h2>
        <p class="pragraph-font">
            Electronic machines like computers only understand the language of binary digits. They do not interpret the
            English language as interpreted by humans. For this reason, we have designed a tool that easily converts the
            English language into Binary digits easily interpreted by computers. Our tool only gives output in 0 and 1
            form, in which 0 means no flow of electricity and 1 means flow of electricity is allowed. </p>

        <p>
            <b> Example – 0101 1001 1111 0000 1100.</b>
        </p><br>

        <h3><b>Reason to use convertcase converter english to binary?</b></h3>
        <p class="pragraph-font">
            A programmer needs to design a coding system in binary 0 and 1 form. This takes a lot of time as each
            alphabet needs to be represented in a binary digit. The convertcase tool provides ease to its customers to
            easily transform the English coding or program into binary digits. This tool saves time for the programmer
            in translating the English to binary manually. This transformed binary code is then interpreted by the
            computer and acts as per the instructions or text written in the code.
        <p>
        <h3><b>Energy and Time-Efficient with English To Binary Translator Tool</b></h3>
        <p class="pragraph-font">
            Convertcase saves energy and time for programmers by converting a text file into a binary file. When you
            require a machine that quickly changes the ASCII text to the equivalent binary number, then it is advisable
            to use a english to binary translator tool online. This tool does the transformation in a short span of time
            and can be less challenging.
        <p>

        <p class="pragraph-font">
            English to binary conversion allows the programmer to send an encrypted code to the machine, which is not
            accessible to any random person. Due to this, sensitive information can be secured from unauthorized access.
            ASCII text is mainly used in electronic devices to maintain the standard for character sets.
        <p>
        <p class="pragraph-font">
            We provide an easy-to-use converter platform to transform English letters into binary digits without any
            cost. You also feel free to enter unwanted instructions or details that create hindrances in your
            conversion. It does not require additional expertise or installation as it is an online conversion tool. The
            text needs to be pasted in the given text area, and when you select the binary conversion button, you will
            get the desired output within no time.
        </p>
        <h3><b>How to convert english into binary form?</b></h3>
        <ul>
            <li>Copy the content you want to convert.</li>
            <li>Open English To Binary Translator on text convertcase tool for conversion.</li>
            <li> Paste the copied content in the text box, or you can upload your file containing text.</li>
            <li>Click on the “Convert English to Binary” button.</li>
            <li>You will get the desired result in binary 0 and 1 format</li>
        </ul>
        <p class="pragraph-font">
            Convertcase tool accurately translates the selected english into binary codes without mistakes. This process is time-saving and also gives precise results to the programmer. You can complete your tasks with accuracy by using our converter tool online.
        </p>
    </div>