<header class="site_nav">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" routerLink="">
            <p class="mb-0"><span class="text-danger">Convert </span> Case</p>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" routerLink=""><b>Home</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/bindarycode-to-english-translator"><b>String to Binary</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/json-stringify-text"><b>JSON Stringify Text Generator</b></a>
                </li>
            </ul>
        </div>
    </nav>
</header>