/*header css start*/
header.site_nav {
    // position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #d3c8c0;
}
header.site_nav .navbar-brand p {
    color: #212529;
    font-weight: 700;
}
/*header css end*/