<div class="container">
    <h1 class="mt-5"><b>перетворювати регістр за допомогою лічильника слів</b></h1>

    <div class="output row">
        <div>Персонажі:
            <span id="characterCount" ng-if="text.length > 0">{{textValue.length}}</span>
        </div>
        <div>Слова: <span id="wordCount">{{ words }}</span></div>
    </div>
    <div class="output row">
        <div>Речення: <span id="sentenceCount">{{ sentences }}</span></div>
        <div>Абзаци: <span id="paragraphCount">{{ paragraphs }}</span></div>
    </div>


    <div class="row">


        <div class="col-md-12">
            <form class="example-form mt-4">
                <label>Введіть текст</label>
                <div style="float:right">
                    <button mat-flat-button class="mx-1 my-1" color="primary" (click)="copyClipBoard()">
                        <i class="fa fa-clipboard p-1" style="font-size:24px;"></i>
                        Копіювати буфер обміну</button>
                    <button mat-flat-button (click)="createFile()" class="mx-1 my-1" color="primary"> <i
                            class="fa fa-save p-1" style="font-size:24px"></i>Створити файл</button>
                </div>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Введіть текст</mat-label>
                    <textarea matInput rows="15" [(ngModel)]="textValue" (ngModelChange)="modelChangeFn($event)"
                        name="Hello World" placeholder="Ex. Hello Word"></textarea>
                    <button *ngIf="textValue" matSuffix mat-icon-button aria-label="Clear" (click)="textValue=''">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
            </form>
            <div class="alert alert-success" *ngIf="formateType" role="alert">
                convertcase successfully to - {{formateType}}
            </div>
            <div class="row">
                <button mat-flat-button (click)="upperCase('upperCase')" class="mx-1 my-1" color="primary">Перетворювач верхнього регістру</button>
                <button mat-flat-button (click)="upperCase('titleCase')" class="mx-1 my-1" color="primary">перетворення титульного регістру</button>
                <button mat-flat-button (click)="upperCase('lowerCase')" class="mx-1 my-1" color="primary">перетворення нижнього регістру</button>
                <button mat-flat-button (click)="upperCase('lowerCaseFirst')" class="mx-1 my-1"
                    color="primary">нижній регістр спочатку конвертувати</button>
                <button mat-flat-button (click)="upperCase('sentenceCase')" class="mx-1 my-1"
                    color="primary">реченняCase конвертувати</button>
                <button mat-flat-button (click)="upperCase('camelCase')" class="mx-1 my-1" color="accent">верблюжий конвертер</button>
                <button mat-flat-button (click)="upperCase('pascalCase')" class="mx-1 my-1" color="warn">конвертер паскальказу</button>
                <button mat-flat-button (click)="upperCase('pathCase')" class="mx-1 my-1" color="accent">конвертер шляхів</button>
                <button mat-flat-button (click)="upperCase('snakeCase')" class="mx-1 my-1" color="accent">зміїний конвертер</button>
                <button mat-flat-button (click)="upperCase('paramCase')" class="mx-1 my-1" color="primary">конвертер регістру параметрів</button>
                <button mat-flat-button (click)="upperCase('dotCase')" class="mx-1 my-1" color="warn">крапковий футляр</button>
                <button mat-flat-button (click)="upperCase('alternateCase')" class="mx-1 my-1" color="warn">АлЬтЕрНаТиВнИй вИпАдОк</button>
                <button mat-flat-button (click)="upperCase('constantCase')" class="mx-1 my-1"
                    color="primary">постійне перетворення регістру</button>

            </div>
        </div>
    </div>

    <hr>
<div>
    <div class="p-4">
        <h2><b>вступ:</b></h2>
        <p class="pragraph-font">
            Кожен під час написання будь-якого матеріалу або редагування зупинявся на перетворенні регістру слів чи фраз і на
            виправити ці речі, вони або роблять це вручну, або вибирають будь-яке випадкове програмне забезпечення чи інструменти в Інтернеті. Дещо з
            інструменти недостатньо ефективні або не мають широких можливостей ідеального інструменту convertcase
            повинен
            мати. І з цих причин люди витрачають значну частину часу на зміну корпусів своїх робіт.
            Щоб полегшити їхні проблеми, ми розробили цей онлайн-інструмент конвертації, який легко перетворює
            ваші тексти в одну мить. Все, що вам потрібно зробити, це скопіювати текст і вставити його в інструмент і
            бум! після вибору регістру ваш текст готовий. Ми розуміємо, що коли ви пишете в потоці, ви не можете зосередитися
            на його справи.
        </p>
    </div>

    <div class="p-4">
        <h2><b>Лічильник слів:</b></h2>
        <h3><b>Що таке лічильник слів?</b></h3>

        <p class="pragraph-font">
            Під час написання вмісту неможливо щоразу відстежувати кількість слів. Але, як треба письменникам
            дотримуватися мінімальної чи максимальної кількості слів під час підготовки вмісту та переконатися, що вони отримують кожне рішення
            пов’язані з написанням, ми включили цю функцію в наш інструмент конвертера тексту.
        </p>
        <h3><b>Як дізнатися кількість слів?</b></h3>
        <p class="pragraph-font">
            Щоб дізнатися кількість слів, просто почніть вводити текст. Ви побачите, що кількість слів збільшиться
            або зменшіть їх відповідно до ваших потреб. Якщо ви вже ввели свій вміст у MS Word або Google Docs, ми
            вас охопив. Ви можете просто скопіювати текст і вставити його в текстову область, щоб побачити кількість слів.
            Тут функція не обмежена, ви навіть можете перевірити навіть кількість символів.
        </p>
    </div>

    <div class="p-4">
        <h2><b>Перетворення регістру речення:</b></h2>
        <p class="pragraph-font">
            Регістр речень, який також відомий як низький стиль або стиль посилання, є типом стилю використання великих літер. The
            вживання відмінків речень широко зустрічається в наукових і професійних працях. Відмінок речення пишеться з великої літери
            перша літера першого слова в назві. Решта букв і слів у назві пишуться малими літерами
            якщо вони не є власними іменниками.
        </p>
        <p class="pragraph-font">
            <b>Приклад - Найкращий готель у Делі, Історія Махатми Ганді</b>
        </p>
        <h4><b><u>Яка різниця між регістром речення та регістром заголовка?</u></b></h4>
        <p class="pragraph-font">
            У випадку речення, про який ми згадували вище, він пише велику літеру першого слова в
            назва. Решта слів у назві не пишуться з великої літери.
        </p>
        <p class="pragraph-font">
            Але регістр заголовка працює інакше. Перша літера кожного слова в назві має бути великою
            крім того, що ми також згадували вище, прийменники, артиклі та сполучники, такі як «an», «but», «the», «and»,
            «від». тощо має бути малим регістром. Як правило, більшість літер слів у регістрі заголовка перетворюється на
            верхній регістр.
        </p>
        <h4><b>Як перетворити регістр на регістр:</b></h4>
        <ul>
            <li class="pragraph-font">
                Скопіюйте фразу або текст свого написаного, який потрібно перетворити на регістр
            </li>
            <li class="pragraph-font">
                Після копіювання відкрийте наш інструмент
            </li>
            <li class="pragraph-font">
                Вставте скопійовані тексти в задану текстову область
            </li>
            <li class="pragraph-font">
                Торкніться розділу «Регістр речень».
            </li>
            <li class="pragraph-font">
                І ви отримаєте свій результат на convertcase
            </li>
        </ul>
    </div>

    <div class="p-4">
        <h2><b>Генератор верхнього регістру в нижній регістр онлайн:</b></h2>
        <p class="pragraph-font">
            Якщо вам важко перетворити текст на малі літери, ми допоможемо вам. Небагато компаній використовують малі літери
            літери для свого логотипу, оскільки люди вважають, що малі літери виглядають краще, ніж ВЕЛИКІ. Це
            також підтримує безперервність написання.
        </p>
        <p class="pragraph-font">
            <b>Приклад: Джеррі хоче почати інвестиції якомога раніше.</b>
        </p>

        <h4><b>Як перетворити регістр за допомогою перетворення на нижній регістр:</b></h4>
        <ul>
            <li class="pragraph-font">
                Скопіюйте фразу або текст свого написання, який потрібно перетворити на нижній регістр
            </li>
            <li class="pragraph-font">
                Після копіювання відкрийте наш інструмент
            </li>
            <li class="pragraph-font">
                Вставте скопійовані тексти в задану текстову область
            </li>
            <li class="pragraph-font">
                Торкніться розділу «нижні літери».
            </li>
            <li class="pragraph-font">
                І ви отримаєте свій результат на convertcase
            </li>
        </ul>
    </div>

    <div class="p-4">
        <h2><b>Перетворення верхнього регістру:</b></h2>
        <p class="pragraph-font">
            Коли автор хоче підкреслити фразу чи слово, він або вона використовує слова ВЕЛИКИМ РЕГІСТРОМ або ВСІ ВЕЛИКИМИ БУКВАМИ. І звичайно,
            ми розуміємо, наскільки складно вмикати або вимикати кнопку шапки кожного разу під час письма. І для
            ми додали цю функцію до нашого інструменту. Ця функція перетворює загальну фразу або слово, яке є в будь-якому
            регістр у ВЕЛИКИЙ РЕГІСТ протягом секунди.
        </p>
        <p class="pragraph-font">
            <b>Приклад. ВИКОРИСТАННЯ ПЛАТФОРМ СОЦІАЛЬНИХ МЕДІА ШВИДКО РОЗВИВАЄТЬСЯ</b>
        </p>

        <h4><b>Як конвертувати регістр інструменту за допомогою конвертації у верхній регістр:</b></h4>
        <ul>
            <li class="pragraph-font">
                Скопіюйте фразу або текст свого написаного, який потрібно перетворити на регістр
            </li>
            <li class="pragraph-font">
                Після копіювання відкрийте наш інструмент
            </li>
            <li class="pragraph-font">
                Вставте скопійовані тексти в задану текстову область
            </li>
            <li class="pragraph-font">
                Торкніться розділу «ВЕЛИКИЙ РЕГІСТ».
            </li>
            <li class="pragraph-font">
                І так-да! Ви отримали результат на convertcase
            </li>
        </ul>
    </div>

    <div class="p-4">
        <h2><b>конвертер капіталізації:</b></h2>
        <p class="pragraph-font">
            Великі літери перетворюють першу літеру слова у верхній регістр, а решта – у малі.
            Великі літери можуть виглядати як регістр заголовка, однак є невелика різниця. Як ми вже згадували
            вище регістр заголовка не перетворює прийменники, артиклі та сполучники, тоді як вживання великої літери
            перетворює кожну першу літеру слова.
        </p>

        <p class="pragraph-font">
            <b>Приклад – майбутнє технології 5g</b>
        </p>

        <h4><b>Як перетворити регістр за допомогою перетворення на великі літери:</b></h4>
        <ul>
            <li class="pragraph-font">
                Скопіюйте фразу або текст свого написання, який потрібно перетворити на регістр у великій
            </li>
            <li class="pragraph-font">
                Після копіювання відкрийте наш інструмент
            </li>
            <li class="pragraph-font">
                Вставте скопійовані тексти в задану текстову область
            </li>
            <li class="pragraph-font">
                Натисніть на розділ «Введення великих літер».
            </li>
            <li class="pragraph-font">
                І ви отримаєте свій вихід у випадку перетворення
            </li>
        </ul>
    </div>

    <div class="p-4">
        <h2><b>Перетворювач змінного регістру:</b></h2>
        <p class="pragraph-font">
            Функція альтернативного регістру допоможе вам перетворити ваш текст на альтернативні великі та малі літери,
            перша літера перетворюється на велику літеру, за нею йде друга літера в нижньому регістрі, потім знову
            велика третя літера тощо. Цей тип регістра використовується, щоб привернути увагу читачів до a
            конкретний текст чи фразу або для виділення частини письмового документа.
        </p>
        <p class="pragraph-font">
            <b>ПрИкЛаД – ArTiFiCiAl iNtElIgEnCe</b>
        </p>

        <h4><b>Як змінити регістр тексту за допомогою перетворення на альтернативний регістр:</b></h4>
        <ul>
            <li class="pragraph-font">
                Скопіюйте текст, регістр якого потрібно перетворити на інший.
            </li>
            <li class="pragraph-font">
                Завершивши копіювання, відкрийте наш інструмент
            </li>
            <li class="pragraph-font">
                Вставте скопійований текст у надану текстову область
            </li>
            <li class="pragraph-font">
                Торкніться розділу  "ArTiFiCiAl CaSe"
            </li>
            <li class="pragraph-font">
                І ви отримаєте свій вихід у випадку перетворення
            </li>
        </ul>
    </div>

    <div class="p-4">
        <h2><b>Перетворювач регістру заголовків:</b></h2>

        <h3><b>Що таке регістр заголовка?:</b></h3>
        <p class="pragraph-font">
            Регістр заголовків — це стиль, який широко використовується в книгах, газетах, блогах і статтях для
            зробити заголовки або заголовки. Це забезпечує професійний і привабливий вигляд. Оскільки майже всі люди купують a
            книгу або переглядає вміст, перевіряючи лише його назви. чи не так? Тоді вам слід зосередитися на побудові a
            чистий і правильний регістр заголовка. І для цього ви можете скористатися інструментом для конвертації регістру заголовків.
        </p>

        <p class="pragraph-font">
            Коротше кажучи, у регістрі заголовка для кожного слова в реченні перший алфавіт перетворює регістр у верхній
            поки
            для решти алфавітів слова перетворюються на малі. Однак є деякі винятки. The
            регістр заголовка не охоплює.
        </p>

        <ul>
            <li class="pragraph-font">
                Статті ( a, an і the)
            </li>
            <li class="pragraph-font">
                Сполучники (але, та, або тощо)
            </li>
            <li class="pragraph-font">
                Прийменники ( in, for, on, up)
            </li>
        </ul>

        <p class="pragraph-font">
            Однак може здатися, що створити регістр заголовка легко, але насправді це не так. Багато слів використовуються в різних
            граматичні функції. Наприклад, «Ви фінансово залежите від мене»- on використовується як прийменник у
            фраза має бути написана малим регістром, але коли ми використовуємо «Будь ласка, продовжуйте розмову», використовується те саме
            як прикметник, тому перший алфавіт має бути з великої літери.
        </p>

        <h3><b>Як працювати з конвертером регістру заголовків:</b></h3>
        <p class="pragraph-font">
            <b><i><u>
                Щоб перетворити будь-який текст на регістр заголовка за допомогою нашого інструменту, вам потрібно виконати деякі з них
                основний
                кроки
                які згадані нижче:
                    </u></i></b>
        </p>
        <ul>
            <li class="pragraph-font">
                Скопіюйте текст, який потрібно перетворити на регістр
            </li>
            <li class="pragraph-font">
                Вставте його в текст
            </li>
            <li class="pragraph-font">
                Натисніть кнопку регістру заголовка
            </li>
            <li class="pragraph-font">
                І витягніться за секунду
            </li>
            <li class="pragraph-font">
                І отримайте результат за секунду
            </li>
            <li class="pragraph-font">
                Скопіюйте результат і використовуйте його відповідно до ваших вимог
            </li>
        </ul>

    </div>

    <div class="p-4">
        <h3><a routerLink="/json-stringify-text"><b>конвертер string у JSON нанизувати</b></a></h3>
        <p class="pragraph-font">
            Метою розшарування тексту JSON є виправлення форматування розшарованого тексту, це дуже корисно для збереження
            час.
            Як це працює: нам просто потрібно продовжити запис на лівій панелі автоматично стратифікованого
            текст буде доступний для вас на правій панелі, тоді ви можете просто скопіювати та вставити його
            Після цього вам потрібно перевірити, чи є нові рядки, у яких також згенеровано символи /n
            оскільки після цього вкладки перетворюються на символи /t, повідомте нам про відновлення умов та інші відгуки
            може допомогти нам покращити наш інструмент.
        </p>
    </div>

    <div class="p-4">
        <h2><a routerLink="/snake-case-converter"><b>Онлайн-інструмент конвертера регістру Змія</b></a></h2>
        <p class="pragraph-font">
            регістр «змія» в основному використовується для іменування розмов у комп’ютерному світі, наприклад. визначити змінну, підпрограму
            назвіть і створіть кілька.
            ПРИКЛ. snake_case
            зміїний регістр укажіть стиль, які два слова між пробілами замінюють у підкресленні (_)
            корпус змії, перший, останній, малий, подібний до верблюда.
        </p>
    </div>

    <div class="p-4">
        <h3><a routerLink="/bindarycode-to-english-translator"><b>Перекладач двійкових файлів у текст:</b></a></h3>
        <p class="pragraph-font">
            цей інструмент допоможе вам перетворити двійковий код на англійську та англійську мову на двійковий. Коли ви перетворюєте англійську мову на двійковий
            тільки при поверненні
            0 і 1. двійкові числа 0 і 1 представляють увімкнення та вимкнення, «0» означає відсутність потоку електроенергії, а «1» означає
            електриці дозволяється текти.
        </p>

        <p>
            (E.g: 01000101 01111000 01100001 01101101 01110000 01101100 01100101):
        </p><br>

        <p class="pragraph-font">
            це один із найстаріших із довгою та різноманітною історією, яким користуються майже всі
            обчислювальні мови прямо зараз у цьому світі. За допомогою двійкового коду, який ця мова може бути зрозуміла лише
            машинами. це допоможе перетворити ваш текст у двійковий код, а також покращить товар
            стилістична зміна, щоб повністю змінити інший вигляд і стиль вибраного тексту
            коли ми хочемо зберегти секретні або приховані текстові повідомлення, цей двійковий код допоможе в цій ситуації.
            що є найлегшим і найпростішим способом.
            він допомагає перекладати ASCII у двійковий код, просто використовуючи інструмент перекладу, він може прискорити все
            досвід.
        </p>

        <h3><b>Як перетворити англійську мову на двійкову</b></h3>
        <p>Перетворення двійкового коду ASCII на текст:</p>
        <ul>
            <li>Отримати двійковий байт</li>
            <li>Перетворити двійковий байт у десятковий</li>
            <li>Отримати символ коду ASCII з таблиці ASCII</li>
            <li>Продовжити з наступним байтом</li>
        </ul>
    </div>
</div>
</div>

