<div id='content'>
    <h1 id='title'>cm to inches</h1>
    <div id='ul'>
        <ul>
            <li>
                <label>mm</label> 
                 <input [(ngModel)]="mm" (ngModelChange)="mmChanges()" id="poundsInput">
                 </li>
            <li><label>cm</label> 
                <input [(ngModel)]="cm" (ngModelChange)="cmChanges()" id="kilogramsInput">
                </li>
            <li><label>meter</label> 
                <input [(ngModel)]="meter" (ngModelChange)="meterChanges()" id='gramsInput'>
                </li>
            <li><label>inches</label> 
                <input [(ngModel)]="inches" (ngModelChange)="inchesChanges()" id='tonInput'>
                </li>
            <li><label>feet</label> 
                <input [(ngModel)]="feet" (ngModelChange)="feetChanges()" id='ounceInput'>
                </li>
        </ul>
    </div>
    <div id='button'>
        <button id='clearButton' class="btn" (click)="clear()">Clear All</button>
    </div>
</div>
<!-- <div class="container">
    <div class="table-container mt-4">
        <table>
            <thead>
                <tr>
                    <th>CM</th>
                    <th>Inches</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1 cm to inches</td>
                    <td>0.393701</td>
                </tr>
                <tr>
                    <td>2 cm to inches</td>
                    <td>0.787402</td>
                </tr>
                <tr>
                    <td>3 cm to inches</td>
                    <td>1.1811</td>
                </tr>
                <tr>
                    <td>4 cm to inches</td>
                    <td>1.5748</td>
                </tr>
                <tr>
                    <td>5 cm to inches</td>
                    <td>1.9685</td>
                </tr>
                <tr>
                    <td>6 cm to inches</td>
                    <td>2.3622</td>
                </tr>
                <tr>
                    <td>7 cm to inches</td>
                    <td>2.75591</td>
                </tr>
                <tr>
                    <td>8 cm to inches</td>
                    <td>0.393701</td>
                </tr>
                <tr>
                    <td>9 cm to inches</td>
                    <td>0.393701</td>
                </tr>
                <tr>
                    <td>10 cm to inches</td>
                    <td>0.393701</td>
                </tr>
                <tr>
                    <td>1 cm to inches</td>
                    <td>0.393701</td>
                </tr>
                <tr>
                    <td>1 cm to inches</td>
                    <td>0.393701</td>
                </tr>
                <tr>
                    <td>1 cm to inches</td>
                    <td>0.393701</td>
                </tr>
                <tr>
                    <td>1 cm to inches</td>
                    <td>0.393701</td>
                </tr>
                <tr>
                    <td>1 cm to inches</td>
                    <td>0.393701</td>
                </tr>
                <tr>
                    <td>1 cm to inches</td>
                    <td>0.393701</td>
                </tr>
                <tr>
                    <td>1 cm to inches</td>
                    <td>0.393701</td>
                </tr>
                <tr>
                    <td>1 cm to inches</td>
                    <td>0.393701</td>
                </tr>
                <tr>
                    <td>1 cm to inches</td>
                    <td>0.393701</td>
                </tr>
                <tr>
                    <td>1 cm to inches</td>
                    <td>0.393701</td>
                </tr>
                <tr>
                    <td>1 cm to inches</td>
                    <td>0.393701</td>
                </tr>
                <tr>
                    <td>1 cm to inches</td>
                    <td>0.393701</td>
                </tr>
                <tr>
                    <td>1 cm to inches</td>
                    <td>0.393701</td>
                </tr>
                <tr>
                    <td>1 cm to inches</td>
                    <td>0.393701</td>
                </tr>
                <tr>
                    <td>1 cm to inches</td>
                    <td>0.393701</td>
                </tr>
                <tr>
                    <td>1 cm to inches</td>
                    <td>0.393701</td>
                </tr>
                <tr>
                    <td>1 cm to inches</td>
                    <td>0.393701</td>
                </tr>
                <tr>
                    <td>1 cm to inches</td>
                    <td>0.393701</td>
                </tr>
                <tr>
                    <td>1 cm to inches</td>
                    <td>0.393701</td>
                </tr>
                <tr>
                    <td>1 cm to inches</td>
                    <td>0.393701</td>
                </tr>
                <tr>
                    <td>1 cm to inches</td>
                    <td>0.393701</td>
                </tr>
                <tr>
                    <td>1 cm to inches</td>
                    <td>0.393701</td>
                </tr>
                <tr>
                    <td>1 cm to inches</td>
                    <td>0.393701</td>
                </tr>
                <tr>
                    <td>1 cm to inches</td>
                    <td>0.393701</td>
                </tr>
                <tr>
                    <td>1 cm to inches</td>
                    <td>0.393701</td>
                </tr>
                <tr>
                    <td>1 cm to inches</td>
                    <td>0.393701</td>
                </tr>
                <tr>
                    <td>1 cm to inches</td>
                    <td>0.393701</td>
                </tr>
                <tr>
                    <td>1 cm to inches</td>
                    <td>0.393701</td>
                </tr>
                <tr>
                    <td>1 cm to inches</td>
                    <td>0.393701</td>
                </tr>
                <tr>
                    <td>1 cm to inches</td>
                    <td>0.393701</td>
                </tr>
                <tr>
                    <td>1 cm to inches</td>
                    <td>0.393701</td>
                </tr>
                <tr>
                    <td>150 cm to inches</td>
                    <td>59.05511</td>
                </tr>
            </tbody>
        </table>
    </div>

</div> -->